body {
  /* background-color: rgba(122, 100, 73, 0.4); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  /* background-image: url("../images/bg1.jpg"); */
}
.container-fluid {
  padding: 10px;
}
.navbar-brand {
  font-size: 38px;
  font-family: "Dosis", sans-serif;
}

.navbar-nav {
  padding: 15px 30px;
}
.nav-item {
  font-weight: bold;
  font-size: 18px;
}

.outer-form {
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 600px;
  overflow: hidden;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38")
    no-repeat center/ cover;
  box-shadow: 5px 10px 30px #000;
}
.outer-form {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "Jost", sans-serif;
  /* margin-left: 40%; */
}

.main {
  width: 350px;
  height: 500px;
  overflow: hidden;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38")
    no-repeat center/ cover;
  /* box-shadow: 5px 20px 50px #000; */
  box-shadow: 0ch;
  border-radius: 20px;
}

/* .login {
    position: relative;
    width: 100%;
    height: 100%;
  } */

.wel {
  color: #000;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  font-family: "Oleo Script", cursive;
}
input {
  width: 60%;
  height: 40px;
  background: rgba(0, 0, 0, 0.1);
  justify-content: center;
  display: flex;
  margin: 30px auto;
  padding: 20px;
  border: none;
  outline: none;
  border-radius: 20px;
}
::placeholder {
  color: #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.login-btn {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #45493a;
  font-weight: bold;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  font-family: sans-serif;
}
.login-btn:hover {
  background: #2e351f;
}
